<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master-template :: head">
    <title th:text="${titlePage}"></title>
</head>
<body>
<nav th:replace="master-template :: navbar"></nav>

<div id="content" class="container mt-5">
    <h1 class="mb-5" th:text="${title}"></h1>
    <form th:object="${categoryObject}" th:action="@{/save-category}" method="post">
        <div class="form-group">
            <label for="nameCategory">Nombre categoría</label>
            <input type="text" required class="form-control" th:field="*{nameCategory}" id="nameCategory" name="nameCategory">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<footer th:replace="master-template :: footer"></footer>
</body>
</html>