<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master-template :: head">
    <title th:text="${titlePage}"></title>
</head>
<body>
<nav th:replace="master-template :: navbar"></nav>

<div id="content" class="container mt-5">
    <h1 class="mb-5" th:text="${title}"></h1>
    <form th:object="${loanObject}" th:action="@{/save-loan}" method="post">
        <div class="form-group">
            <label for="timeDays">Días</label>
            <input type="text" required class="form-control" th:field="*{timeDays}" id="timeDays" name="timeDays" placeholder="Enter days">
        </div>
        <div class="form-group">
            <label for="maxDays">Días Máximos</label>
            <input type="text" required class="form-control" th:field="*{maxDays}" id="maxDays" name="maxDays" placeholder="Enter max days">
        </div>
        <div class="form-group">
            <label for="dailyLoans">Préstamos diarios</label>
            <input type="text" required class="form-control" th:field="*{dailyLoans}" id="dailyLoans" name="dailyLoans" placeholder="Enter daily loans">
        </div>
        <div class="form-group">
            <label for="penaltyFee">Multa</label>
            <input type="text" required class="form-control" th:field="*{penaltyFee}" id="penaltyFee" name="penaltyFee" placeholder="Enter penalty fee">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<footer th:replace="master-template :: footer"></footer>
</body>
</html>